<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Web Toolkit首页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script type="text/javascript">

    </script>
</head>
<body style="background-color: #F5F5F5;">
<div style="background-color: #2C323B;width: 100%;">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="margin-left: 261.5px;" >
        <li class="nav-item">
            <a class="nav-link active" id="pills-sign-tab" data-toggle="pill" href="#pills-sign" role="tab" aria-controls="pills-home" aria-selected="true">软证书签名</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">验证签名</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">URL编码</a>
        </li>
    </ul>
</div>
<div class="container" style="background-color: #FFFFFF;height: 1500px;padding: 0px;">
    <hr>
    <div class="tab-content " id="pills-tabContent" style="margin-top: 50px;">
        <div class="tab-pane fade show active" id="pills-sign" role="tabpanel" aria-labelledby="pills-sign-tab">
            <form class="form-horizontal" method="post" onclick="" action="#">
                <div class="col-md-6 float-left " >
                    <!-- 表单区域-->
                    <fieldset>
                        <!-- 每一个form-group都可以自定义布局-->
                        <div class="form-group row">
                            <!-- label表示文字提示标签,可以通过表单的组建的id提示-->
                            <label class="col-md-3 control-label col-form-label" for="pfxFile">PFX(JKS)文件:</label>
                            <div class="col-md-9">
                                <input type="file" id="pfxFile" class="filestyle">
                            </div>
                        </div>
                        <div class="form-group row">
                            <!-- label表示文字提示标签,可以通过表单的组建的id提示-->
                            <label class="col-md-3 control-label col-form-label" for="privateKeyName">私钥名称:</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="pfxPassword" id="privateKeyName" placeholder="私钥的名字">
                            </div>
                        </div>

                        <div class="form-group row">
                            <!-- label表示文字提示标签,可以通过表单的组建的id提示-->
                            <label class="col-md-3 control-label col-form-label" for="pfxPassword">PFX密码:</label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" name="pfxPassword" id="pfxPassword" placeholder="PFX秘钥库密码">
                            </div>
                        </div>
                        <div class="form-group row">
                            <!-- label表示文字提示标签,可以通过表单的组建的id提示-->
                            <label class="col-md-3 control-label col-form-label" for="privateKeyPassword">私钥密码:</label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" name="pfxPassword" id="privateKeyPassword" placeholder="私钥密码">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12 text-center ">
                                <input class="btn btn-primary" type="submit" value="提交"/>
                                <input class="btn btn-warning" style="margin-left: 40px;" type="reset" value="重置"/>
                            </div>
                        </div>

                    </fieldset>
                </div>
                <div class="col-md-6 float-left " >
                    <div class="form-group">
                        <label for="plainText">待签名原文:</label>
                        <textarea class="form-control" id="plainText" style="width:553px;" rows="5" name="plainText"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="signatureValue">签名结果</label>
                        <textarea class="form-control" id="signatureValue" style="width:553px;" rows="10" name="signatureValue"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
            <form class="form-horizontal" method="post" onclick="" action="#">
                <div class="col-md-12" >
                    <div class="form-group float-left md">
                        <label for="plainText">P7签名值:</label>
                        <textarea class="form-control" id="signValue" style="width:553px;" rows="10" name="signValue"></textarea>
                    </div>
                    <div class="form-group float-left">
                        <label for="signatureValue">验证结果:</label>
                        <textarea class="form-control" id="plainTextInSignature" style="width:553px;margin-left:3px;" rows="10" name="plainTextInSignature"></textarea>
                    </div>
                    <div class="form-group row " style="clear: both">
                        <div class="col-md-12 text-center ">
                            <input class="btn btn-primary" type="submit" value="提交"/>
                            <input class="btn btn-warning" style="margin-left: 40px;" type="reset" value="重置"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
    </div>

</div>

<!-- jQuery 3 -->
<script src="js/jquery/jquery-3.4.1.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="bootstrap/js/bootstrap-filestyle.min.js"></script>
<script type="text/javascript">
    //文件输入框的样式
    $('#pfxFile').filestyle({
        btnClass : 'btn-outline-primary'
    });
</script>


</body>
</html>